*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
@media (max-width:625px) {
    .links a div{
        display: none;
       }
        .links a{
            justify-content: center !important;
            width: fit-content !important;
        }
        .friends{
            width: 100% !important;
        }
}
aside{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
aside header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}
.parent-line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.line{
    width: 2.3rem;
    height: 2px;
    background: black;
}
.parent-line .circ{
    width: 1rem;
    height: 1rem;
    background-color: black;
    border-radius: 50%;
}
.links .content{
    padding: 1rem 1.5rem;
    width: 80%;
    margin: .5rem auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.links i{
    font-size: 15px;
}
a{
    text-decoration: none;
    color: black;
}
.links a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
    
}
.links a:hover{
    background-color: #eeeeeeab;
    cursor: pointer;
    transition: .3s;
}
#eee{
    background-color: #eeeeeeab !important;
}
.container{
    display: flex;
}
.eee{
    width: 100%;
}
.hed{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 3px 1px 3px 1px #777;
    position: relative;
}
.sea{
    display: flex;
    align-items: center;
}
.sea i{
    left: 29px;
    font-size: 18px;
    position: relative;
}
.hed input{
    height: 2rem;
    border-radius: 5px;
    border: solid 1px #999;
    padding-left: 2rem;
}
.hed input:focus{
outline: none;
}
.hed input:focus::placeholder{
   color: transparent;
   transition: .3s;
    }
    .hed input:focus{
        padding-right: 3rem;
        transition: .3s;
         }
.ava{
    width: 3%;
}
.ava img{
    width: 100%;
}
.body{
    padding: 1rem;
    background-color: #f1f5f9;
}
.big{
    width: 7rem;
    background-color: white;
    height: 3px;
    margin: .7rem 1px;
}
.small{
    width: 3rem;
    background-color: black;
    height: 3px;
}
.parent-friends{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.friends{
    width: 24%;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}
.top{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: -1rem;
    gap: .5rem;
}
.top img{
    width: 8rem;
    border-radius: 50%;
}
.top p{
    color: #999;
    font-size: 15px;
}
.mid{
    padding: 1rem;
    border-bottom: solid 1px #eee;
    border-top: solid 1px #eee;
}
.mid div{
    display: flex;
    align-items: center;
    gap: 5px;
}
.icon{
    display: flex;
    align-self: center;
    gap: 5px;
}
.icon div{
    background: #eee;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon div:hover{
    background-color: #0075ff;
    color: white;
    cursor: pointer;
}
.mid i{
    font-size: 18px;
}
.bot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
}
.bot p{
    color: #999;
}
.ddd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
}
.rem{
    background-color: #f44336;
    color: white;
    font-size: 15px;
    padding: 0.3rem;
    border-radius: 5px;
}
.pro{
    background-color: #0075ff;
    color: white;
    font-size: 15px;
    padding: 0.3rem;
    border-radius: 5px;
}