*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
aside{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
aside header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    margin-top: 1rem;
}
.parent-line{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.line{
    width: 2.3rem;
    height: 2px;
    background: black;
}
.parent-line .circ{
    width: 1rem;
    height: 1rem;
    background-color: black;
    border-radius: 50%;
}
.links .content{
    padding: 1rem 1.5rem;
    width: 80%;
    margin: .5rem auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.links i{
    font-size: 15px;
}
a{
    text-decoration: none;
    color: black;
}
.links a{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: .5rem;
   
}
.links a:hover{
    background-color: #eeeeeeab;
    cursor: pointer;
    transition: .3s;
}
#eee{
    background-color: #eeeeeeab !important;
}
.container{
    display: flex;
}
.eee{
    width: 100%;
}
.hed{
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    box-shadow: 3px 1px 3px 1px #777;
    position: relative;
}
.sea{
    display: flex;
    align-items: center;
}
.sea i{
    left: 29px;
    font-size: 18px;
    position: relative;
}
.hed input{
    height: 2rem;
    border-radius: 5px;
    border: solid 1px #999;
    padding-left: 2rem;
}
.hed input:focus{
outline: none;
}
.hed input:focus::placeholder{
   color: transparent;
   transition: .3s;
    }
    .hed input:focus{
        padding-right: 3rem;
        transition: .3s;
         }
.ava{
    width: 3%;
}
.ava img{
    width: 100%;
}
@media (max-width:625px) {
    .links a div{
        display: none;
       }
        .links a{
            justify-content: center !important;
            width: fit-content !important;
        }
        .profile1{
            flex-wrap: wrap;
            overflow: auto;
            justify-content: center;
        }
        .down{
            flex-wrap: wrap;
        }
        .profile2,.profile3{
            width: 100% !important;
        }
        .profile1 .left{
            flex-direction: row !important;
            width: 80% !important;
            justify-content: center !important;
            border: none !important;
        }
}
.body{
    padding: 1rem;
    background-color: #f1f5f9;
}
.big{
    width: 7rem;
    background-color: white;
    height: 3px;
    margin: .7rem 1px;
}
.small{
    width: 3rem;
    background-color: black;
    height: 3px;
}
/* /////// */
label{
    position: relative;
}
.check{
    -webkit-appearance: none;
    position: absolute;
    z-index: 1;
    appearance: none;
    top: 0%;
    width: 96px;
    height: 20px;
    border-radius: 15px;
    cursor: pointer;
}
.switch{
background-color: #ccc;
width: 96px;
    height: 20px;
border-radius: 16px;
position: relative;
}
.switch::before{
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    left: 3px;
    top: 2.5px;
    color: #aaa;
    transition: .3s;
}
.check:checked  + .switch{
    background-color: #0075ff;
    transition: .3s;
}
.check:checked  + .switch::before{
 left: 78px;
    transition: .3s;
}

/* ///////// */
.profile1{
    display: flex;
    background: white;
    
    align-items: center;
    border-radius: 10px;
    
}
.profile1 .left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
    padding: 2rem 4rem;
    width: 30%;
    border-right: solid 1px #ccc;
}
.profile1 .left img{
    width: 6rem;
}
.profile1 .left p{
    color: #aaa;
}
.dark{
    background-color: #aaa;
    width: 6rem;
    height: 3px;
    border-radius: 5px;
}
.blue{
    background-color:#0075ff;
    width: 4rem;
    height: 3px;
    border-radius: 5px;
}
.profile1 .right{
    width: 100%;
}
.son-r{
    display: flex;
    align-items: center;
    gap: 6rem;
    padding: 1rem ;
    color: #aaa;
    width: 100%;
    border-bottom: solid 1px #eee;
}
.ani{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.son-r:hover{
    background-color: #eeeeee90;
}
.son-r span{
    color: black !important;
}
.profile2{
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 30%;
    border-radius: 10px;
}
.profile2 p{
    color: #aaa;
   
}
.mk{
    display: flex;
    gap: .5rem;
    align-items: center;
    border-bottom: solid 1px #eee;
    padding: .7rem 0;
}
.mk div{
    background-color: #eee;
    padding: .5rem;
    border-radius: 5px;
    font-size: 15px;
}
.mk2{
    display: flex;
    gap: .5rem;
    align-items: center;
    border:none !important;
    padding: .7rem 0;
}
.mk2 div{
    background-color: #eee;
    padding: .5rem;
    border-radius: 5px;
    font-size: 15px;
}
.profile3{
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 100%;
    border-radius: 10px;
}
.skill{
    color: #aaa;
}
.m4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 0;
    border-bottom: solid 1px #eee;
}
.m4 .l{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.m4 .l img{
    width: 4rem;
}
.cc{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.m4 .r{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: end;
}
.y{
    color: #aaa;
}
.down{
    display: flex;
    margin-top: 1rem;
    gap:1rem;
}
.m42{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 0;
    border-bottom:none;
}
.m42 .l{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.m42 .l img{
    width: 4rem;
}
.cc{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.m42 .r{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: end;
}